*.pyc
*~
/.vscode
wiki/apps/*/__pycache__/
wiki/__pycache__/
wiki/media/category_images/*
! wiki/media/category_images/default.png
wiki/media/profile_images/*
! wiki/media/profile_images/default.png
vwiki
db.sqlite3
.DS_Store
