{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8", name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/all.css' %}">

    <!-- Math -->
    <script>
        MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']], 
            displayMath: [["$$","$$"]]
        }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title> 
        {% block title %}{% endblock title %}
        Wiki
    </title>
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-item nav-link mr-sm-3" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-sm-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorie
                        </a>    
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            {% if cat_menu %}
                                {% for cat in cat_menu %}
                                    <a class="dropdown-item nav-drop" href="{% url 'category_wiki' cat.slug %}">{{ cat }}</a>
                                {% endfor %}
                            {% endif %}
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item nav-drop" href="{% url 'add_category' %}">Aggiungi categoria</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link mr-sm-3" href="{% url 'add_wiki' %}">Aggiungi Guida</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method="get">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control form-control-sm bg-dark text-white border border-secondary" name="q" type="text" placeholder="Cerca..." aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text amber lighten-3 bg-dark text-grey border border-secondary mr-sm-3" id="basic-text1">
                                <i class="fas fa-search text-grey"
                            aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="input-group-text amber lighten-3 bg-dark border border-secondary text-grey">
                                    <i class="fas fa-bars" aria-hidden="true"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-drop" href="{% url 'profile' user.profile.slug %}"><i class="fas fa-user mr-sm-3"></i>Profilo</a>
                                <a class="dropdown-item nav-drop" href="{% url 'user_list' %}"><i class="fas fa-users mr-sm-3"></i>Utenti</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-drop" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-sm-3"></i>Esci</a>
                            </div>
                        </li>
                    </div>
                </form>  
            </div>
        {% else %}
            <div class="container">
                <div class="navbar-nav mr-auto"></div>
            </div>
            <form class="form-inline">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'login' %}">Accedi</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Registrati</a>
                </div>
            </form>
        {% endif %}
    </nav>

    <div class="sidenav">
        {% block sidenav %}{% endblock sidenav %}    
    </div>
    <div class="main">
        <div id="message_container">
            <small>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </small>
        </div>
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- holds messages for 3 seconds -->
    <script>
        var message_ele = document.getElementById("message_container");
        setTimeout(function(){ 
            message_ele.style.display = "none";
            }, 3000);
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    

    {% block javascript %}{% endblock %}
</body>
</html>
