{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    Edit Guide - 
{% endblock title %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
    $('select').selectpicker({ noneSelectedText : '---------' });
  </script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.id == object.author.id or user.is_staff or user in wiki.collaborators.all %}
      <h4>Modifica guida</h4>
      <div class="border-top pt-3"></div>
      <br>
      <div class="form-group">
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.title|as_crispy_field }}
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.category|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.collaborators|as_crispy_field }}
              </div>
            </div>
            {{ form.content|as_crispy_field }}
            <button class="btn btn-outline-success">Modifica</button>
            <a href="{% url 'detail_wiki' object.slug %}" class="btn btn-outline-dark float-right">Annulla</a>
        </form>
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}
