{% extends "base.html" %}

{% block title %}
    {{ wiki.title }} - 
{% endblock title %}

{% block sidenav %}
    <a href="#"><h5>{{ wiki.title }}</h5></a>
        {{ toc|safe }}
{% endblock sidenav %}

{% block content %}
    {% if user.id == wiki.author.id or user.is_staff or user in wiki.collaborators.all %}
        <div class="float-left">
            <small>
                <a href="{% url 'edit_wiki' wiki.slug %}" class="btn btn-outline-warning btn-sm mr-4">Modifica</a>
                <a href="{% url 'delete_wiki' wiki.slug %}" class="btn btn-outline-danger btn-sm">Elimina</a>
            </small>
        </div>
    {% endif %}
    <br><br/>

    <h1 style="text-align: left;">{{ wiki.title }}</h1>
    <div class="float-left">
        <small>
        Categoria: 
        <a href="{% url 'category_wiki' slug=wiki.category|slugify %}">
            {{ wiki.category }}
        </a>
        </small>
    </div>
    <br>
    <div>
        <small>
            Autore: 
            <a href="{% url 'profile' slug=wiki.author|slugify %}">
                {{ wiki.author }}
            </a>
        </small>
        {% if wiki.collaborators.all %}
        <small class="float-right">
            Collaboratori:
            {% for collaborator in wiki.collaborators.all|dictsort:"username.lower" %}
                <a href="{% url 'profile' slug=collaborator|slugify %}">
                    {{ collaborator }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </small>
        {% endif %}
        <br>
    </div>

    <div class="border-top pt-3"></div>
    <br>
    {{ wiki.content | safe }}
{% endblock content %}

{% block javascript %}
    <!-- adjust the top margin of the link in toc -->
    <script>
        var shiftWindow = function() { scrollBy(0, -80) };
        window.addEventListener("hashchange", shiftWindow);
        function load() { if (window.location.hash) shiftWindow(); }
    </script>
{% endblock javascript %}
