{% extends "base.html" %}

{% block title %}
    {{ wiki.title }} - 
{% endblock title %}

{% block sidenav %}
    <a href="#"><h4>{{ wiki.title }}</h4></a>
        {{ toc|safe }}
{% endblock sidenav %}

{% block content %}
    <br><br/>
    <h1>{{ wiki.title }}</h1>
    <a href="{% url 'profile' slug=wiki.author|slugify %}">
    <small>{{ wiki.author }}</small>
    </a>
    <h1>{{ wiki.author.slug }}</h1>
    <br>
    {% if user.id == wiki.author.id or user.is_staff %}
        <div class="float-left">
            <small>
                <a href="{% url 'edit_wiki' wiki.slug %}" class="btn btn-outline-warning btn-sm">Modifica</a>
                <a href="{% url 'delete_wiki' wiki.slug %}" class="btn btn-outline-danger btn-sm">Elimina</a>
            </small>
        </div>
    {% endif %}
    <br><br>
    {{ wiki.content | safe }}
{% endblock content %}

{% block javascript %}
    <!-- adjust the top margin of the link in toc -->
    <script>
        var shiftWindow = function() { scrollBy(0, -80) };
        window.addEventListener("hashchange", shiftWindow);
        function load() { if (window.location.hash) shiftWindow(); }
    </script>
{% endblock javascript %}
